# obsidian
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/workspace*
.obsidian/themes
.obsidian/plugins
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json

# OS junk files
.DS_Store
Thumbs.db